

<div class="bg-blue-500 text-white p-4 rounded-lg">
    Hello Tailwind!
  </div>
  
  <div class="flex w-full">
    <div class="w-1/2 bg-blue-300 p-4">Left</div>
    <div class="w-1/2 bg-red-300 p-4">Right</div>
  </div>
  
  <div class="grid grid-cols-3 w-full border border-gray-300 w-[50%] sm:w-[30%]">
    <!-- Row 1 -->
    <div class="col-span-3 grid grid-cols-3 border-b border-gray-300 ">
      <div class="p-2">Row 1, Col 1</div>
      <div class="p-2">Row 1, Col 2</div>
      <div class="p-2">Row 1, Col 3</div>
    </div>
  
    <!-- Row 2 -->
    <div class="col-span-3 grid grid-cols-3">
      <div class="p-2">Row 2, Col 1</div>
      <div class="p-2">Row 2, Col 2</div>
      <div class="p-2">Row 2, Col 3</div>
    </div>
  </div>

  <mat-form-field appearance="outline" [style.background-color]="'red'" class="w-full bg-white" style="margin-top: 20px;">
    <mat-label>Description</mat-label>
    <textarea matInput rows="5" placeholder="Enter your text"></textarea>
  </mat-form-field>
  
  
  