::ng-deep .custom-textarea .mat-form-field-outline,
::ng-deep .custom-textarea .mat-form-field-underline {
  display: none !important; /* hide built-in borders */
}

.custom-textarea .mat-form-field-infix {
  border: 2px solid red;     /* custom border */
  border-radius: 4px;
  padding: 8px;
  background-color: green;    /* optional, for clarity */
}

.custom-textarea textarea {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.custom-textarea{
  width: 100%;
  margin-top: 20px;
}