<mat-sidenav-container class="sidenav-container">
    <!-- Main Content -->
    <mat-sidenav-content>
      <button mat-raised-button (click)="toggleSidenav()">Toggle Right Panel</button>
      <mat-icon>menu</mat-icon>
      <div>Main content goes here.</div>
    </mat-sidenav-content>
  
    <!-- Right Panel -->
    <mat-sidenav
      #sidenav
      mode="side"
      position="end"
      [(opened)]="isPanelOpen"
      class="right-panel"
    >
      <div>
        <button mat-icon-button (click)="toggleSidenav()">
          <mat-icon>close</mat-icon>
        </button>
        <p>Right panel content goes here.</p>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
  