      <form [formGroup]="formGroup" class="form-layout">
        <!-- First Row -->
        <div class="form-row">
          <div class="form-item">
            <label for="field1">Field 1:</label>
            <mat-form-field appearance="outline" class="small-input">
              <input matInput id="field1" formControlName="field1" />
            </mat-form-field>
          </div>
          <div class="form-item">
            <label for="field2">Field 2:</label>
            <mat-form-field appearance="outline" class="small-input">
              <input matInput id="field2" formControlName="field2" />
            </mat-form-field>
          </div>
          <div class="form-item">
            <label for="field3">Field 3:</label>
            <mat-form-field appearance="outline" class="small-input">
              <input matInput id="field3" formControlName="field3" />
            </mat-form-field>
          </div>
        </div>
        <!-- Second Row -->
        <div class="form-row">
          <div class="form-item">
            <label for="field4">FieldFieldField 4:</label>
            <mat-form-field appearance="outline" class="large-input">
              <input matInput id="field4" formControlName="field4" />
            </mat-form-field>
          </div>
        </div>
      </form>
  