 td,
 th {
     border: 1px solid #ccc
 }

 /* Add this in your component's .scss or .css */
table td:first-child,
table th:first-child {
  color: #1976d2; /* example: blue text */
  font-weight: bold;
  width: 30%;
  padding-right: 22px !important;
}

table th:nth-child(2),
table td:nth-child(2),
table th:nth-child(3),
table td:nth-child(3) {
  width: 30%; /* or any value you prefer */
}
