<mat-toolbar color="primary">
  <span class="navbar-brand">MyApp</span>

  <!-- Push the buttons to the right -->
  <span class="spacer"></span>

  <!-- Simple Menu Item -->
  <!-- <button mat-button routerLink="/your-path" routerLinkActive="active">Your Component</button> -->

  <button mat-button [matMenuTriggerFor]="mainMenu">Table</button>
  <mat-menu #mainMenu="matMenu">
    <!-- First level menu item -->
    <button mat-menu-item routerLink="/simple-mat-table" routerLinkActive="active">Simple Table</button>
    <button mat-menu-item routerLink="/simple-table-withapi" routerLinkActive="active">Simple Table Api</button>
    <button mat-menu-item routerLink="/scroll-table" routerLinkActive="active">Scroll Table</button>
    <button mat-menu-item routerLink="/my-grid-list" routerLinkActive="active">Grid List</button>
    <!-- Submenu with children -->
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Submenu 2</button>
    <!-- Define the submenu -->
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item routerLink="/submenu-path2-1" routerLinkActive="active">Submenu 2-1</button>
      <button mat-menu-item routerLink="/submenu-path2-2" routerLinkActive="active">Submenu 2-2</button>
    </mat-menu>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="others">Others</button>

  <mat-menu #others="matMenu">
    <!-- First level menu item -->
    <button mat-menu-item routerLink="/right-panel-disable" routerLinkActive="active">Right Panel Disable</button>
    <button mat-menu-item routerLink="/switch-slider" routerLinkActive="active">Mat Slider</button>
    <button mat-menu-item routerLink="/merger-table-cells" routerLinkActive="active">Merger Table Cells</button>
    <button mat-menu-item routerLink="/expansion-panel" routerLinkActive="active">Expansion Panel</button>
    <button mat-menu-item routerLink="/auto-complete" routerLinkActive="active">Autocomplete With Search Icon</button>
    <button mat-menu-item routerLink="/sidenav-collapsible" routerLinkActive="active">SideNav Collapsible</button>
    <button mat-menu-item routerLink="/teat-area-spaceissue" routerLinkActive="active">TextArea</button>
    <button mat-menu-item routerLink="/form-grp-alignment" routerLinkActive="active">FormGroup</button>
    <button mat-menu-item routerLink="/my-grid" routerLinkActive="active">Grid</button>
    <button mat-menu-item routerLink="/two-section" routerLinkActive="active">Two section</button>
  </mat-menu>

</mat-toolbar>